yc_token     = "input_yc_token"
yc_cloud_id  = "input_yc_cloud_id"
yc_folder_id = "input_yc_folder_id"
network_id   = "input_network_id"
subnet_id_a = "input_network_id_a"
subnet_id_b = "input_network_id_b"
subnet_id_d = "input_network_id_d"
kafka_user = "user-events"
kafka_user_password = "pass1231232332"
kafka_admin = "admin"
kafka_admin_password = "pass1231232332_"
local_ip = "input_your_local_ip_adress"
